*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

body, .smooth-container { 
    scroll-behavior: smooth;
}

.top-section {
    height: 100vh;
    background: 
    linear-gradient(135deg, rgb(146,141,171,0.4), rgb(31,28,44, 0.4) 70%),
    url(../assets/stars.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navHead {
    color: white;
    padding: 3%;
    text-align: right;
}
.navHead a {
    padding: 1%;
    text-decoration: none;
    color: white;
}

.intro-text {
    color: white;
    padding-top: 35vh;
    padding-left: 10%;
}

.intro-title {
    font-weight: 100;
    font-size: 48px;
}

.intro-subtitle {
    font-size: 24px;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.about-me {
    background: #f5f5f5;
    padding-top: 40px;
    padding-bottom: 40px;
}

.title {
    color: #77bed2;
    font-size: 48px;
}

.text-area {
    padding-top: 20px;
}

.projects {
    background: #2e3842;
    padding-top: 20px;
    padding-bottom: 20px;
}
.resume {
    background: #f5f5f5;
    padding-top: 20px;
    padding-bottom: 20px;
}
.contact {
    height: 25vh;
    background: #2e3842;
    color: white;
    padding-top: 20px;
}
.contact a {
    color: white;
}

.contact ul {
    margin-top: 10px;
    padding-left: 5px;
    list-style: none;
}

.contact li {
    margin-bottom: 7px;
}

.contact i {
    margin-right: 10px;
}
.modal-body h2 {
    color: #77bed2;
}

.resume-body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.resume-body h4 {
    color: #77bed2;
    margin-bottom: 10px;
}
.resume-body .col {
    padding-left: 0;
}
.resume-body h5 {
    margin-bottom: 0;
}

.subsection {
    color: #3070A3
}

.resume-body h6 {
    margin-top: 0;
}

.edu-info {
    font-size: 18px;
}

.card {
    border-radius: 4px;
    overflow: hidden;
}

.btn {
    border-radius: 4px;
    overflow: hidden;
}

.about-me img {
    width: 100%;
    height: auto;
    max-width: 350px;
}

.projects .row {
    width: 80%;
}

.row {
    margin-bottom: 0;
}

.TA-semester {
    padding-top: 5px;
    padding-left: 10px;
}

.modal {
    border-radius: 4px;
}

.modal .btn-flat {
    background-color: #B89392;
    color: white;
}

.card-action a {
    color: #65BCCF;
}
